body {

}

#info-uploading {
    display: none;
}

.file .file-label.file-label-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

span.pictogram {
    display: block;
    float: left;
    width: 56px;
}

span.pictogram-small {
    display: block;
    float: left;
    width: 30px;
}

hr.info {
    margin-bottom: 0;
    height: 1px;
    background-color: #dbdbdb;
}
