body {

}

#info-uploading {
    display: none;
}

.file .file-label.file-label-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

span.pictogram {
    display: block;
    float: left;
    width: 56px;
}

span.pictogram-small {
    display: block;
    float: left;
    width: 30px;
}

hr.info {
    margin-bottom: 0;
    height: 1px;
    background-color: #dbdbdb;
}

.bordered {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

table.table tr th.prediction-header-class {
    padding-left: 0;
}

table.table tr th.prediction-header-accuracy {
    padding-right: 0;
    text-align: right;
    vertical-align: bottom;
}

table.table tr td.prediction-title {
    padding-right: 0;
    padding-left: 0;
}

table.table tr td.no-border {
    border-bottom-width: 0px;
}

table.table tr td.prediction-description {
    padding-right: 0;
    padding-left: 0;
}
